<header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name">Got Texts?</span>
                        <hr class="star-light">
                        <span class="skills">Now isn't a good time for that text, but later is!</span>
                    </div>
       <ul>
        <li><%= link_to '<i class="fa fa-user-plus fa-5x"></i>'.html_safe, new_contact_path %></li> <h3>Add Contact</h3>
        <li><%= link_to '<i class="fa fa-user fa-5x"></i>'.html_safe, contacts_path %></li><h3>View Contacts</h3>
        <li><%= link_to '<i class="fa fa-paper-plane fa-5x"></i>'.html_safe, texts_path %></li> <h3>See Scheduled Texts</h3>
        <li><%= link_to '<i class="fa fa-pencil-square-o fa-5x"></i>'.html_safe, new_text_path %></li> <h3>Schedule a Text</h3>

      </ul>
                </div>
            </div>
        </div>
  

   
  
   <br>
</header>



   
   
 <!--  Create message -->
<!-- <i class="fa fa-user"></i>
<i class="fa fa-check-circle-o fa-5x" style="color:green"></i>
<i class="fa fa-user-plus"></i> -->


  