<header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name">Check out your suite text!</span>
                    </div>
                </div>
            </div>
        </div>
     <h1>   Text: <%= @text.content %> </h1>


  
</header>

