
<header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name">Welcome To Text'em L8R!</span>
                        <hr class="star-light">
                        <p class="note">This site is currently hosted on Heroku using a free membership account.  This means that after a period of inactivity, Heroku turns the server off. Since I'm not paying the fee to keep it on 24/7, your texts will not be sent out if the server is not running.  Sorry for the inconvenience.  
                    </div>
                </div>
            </div>
        </div>
</header>




