<h1> Welcome to Text'em later!</h1>
<h2> Awesome description of what the site does </h2>
<header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile.png" alt="">
                    <div class="intro-text">
                        <span class="name">Welcome To Text'em L8R!</span>
                        <hr class="star-light">
                        <span class="skills">Now isn't a good time for that text, but later is!</span>
                    </div>
                </div>
            </div>
        </div>
    </header>




